<link rel="stylesheet" href="/public/assets/css/conatctUs.css" />

<div class="contactUs py-1" id="contact">
  <div class="content">
    <div class="container">
      <h2 class="text-center mb-5">Contact Us</h2>

      <div class="row mb-5">
        <div class="col-12">
          <div style="width: 100%">
            <iframe
              width="100%"
              height="600"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=St.%20Emilie%20Learning%20Center,%20Amparo%20Village,%2018%20Bangkal,%20Caloocan,%20Metro%20Manila&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            >
              <a href="https://www.gps.ie/">gps vehicle tracker</a>
            </iframe>
          </div>

          <h4>Our Address</h4>
          <p>
            <i class="bi bi-geo-alt-fill"></i>
            <a
              href="https://www.google.com/maps/place/St.+Emilie+Learning+Center/@14.7187826,121.1332403,15z/data=!4m6!3m5!1s0x3397b0083f1e47fb:0xa41cb7b730554b5!8m2!3d14.7533756!4d121.0806689!16s%2Fg%2F1pzpz4rpw?hl=en&entry=ttu&g_ep=EgoyMDI0MDkxNi4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              >Amparo Village, 18 Bangkal, Caloocan, Metro Manila
            </a>
          </p>
        </div>
        <div class="col-6">
          <p>
            <strong><i class="bi bi-clock-fill"></i> Hours: </strong> Open 24
            Hours
          </p>
          <p>
            <strong><i class="bi bi-envelope-fill"></i> Email: </strong>
            <a href="mailto:theemilians@gmail.com" target="_blank"
              >theemilians@gmail.com</a
            >
          </p>
          <p>
            <strong
              ><i class="bi bi-telephone-fill"></i> Telephone No.:
            </strong>
            <a href="tel:+63279550392" target="_blank">(02) 7955 0392</a>
          </p>
        </div>
        <div class="col-6">
          <p>
            <strong><i class="bi bi-phone-fill"></i> Cellphone No.: </strong>
            <a href="tel:+639154218235" target="_blank">+63 915 421 8235</a>
          </p>
          <p>
            <strong><i class="bi bi-facebook"></i> Facebook Page: </strong>
            <a href="https://www.facebook.com/StEmilieLC" target="_blank"
              >St. Emilie Learning Center</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
