<link rel="stylesheet" href="public\assets\css\landingPage.css" />

<main class="w-100" id="home">
  <img
    src="public\assets\images\logo2.png"
    class="backGround d-lg-block d-sm-block"
    alt="logo"
  />

  <div class="w-100 h-100 z-1 position-absolute">
    <div class="row w-100 h-100">
      <div
        class="d-flex justify-content-start align-items-end col-sm-12 col-lg-6"
      >
        <img
          src="/public/assets/images/avatar/avatar.png"
          class="avatar d-none d-lg-block d-sm-none"
          alt="students"
        />
        <div class="position-absolute top-0 d-lg-none d-sm-block">
          <div class="greetings">
            <p class="mt-5">Welcome To Our Website</p>
            <h1 class="fw-bolder">Primary School</h1>
            <h3 class="fw-semibold">St. Emilie Learning Center</h3>
            <p class="mt-4">
              At St. Emilie Learning Center, we are dedicated to nurturing the
              love of God in our students, guiding them to become responsible
              citizens. Our holistic approach to education fosters not only
              academic excellence but also character development, instilling
              values of compassion, integrity, and community service. Join us in
              shaping a brighter future where faith and education go hand in
              hand.
            </p>
          </div>
          <div class="buttons w-100 px-5 py-0">
            <div class="row">
              <div class="col-12 mb-2">
                <button
                  class="seeMore w-100 h-100 py-2 text-uppercase border-0"
                >
                  <a
                    href="https://www.facebook.com/StEmilieLC"
                    target="_blank"
                    class="text-light text-decoration-none p-2 px-5 fs-6 fw-semibold"
                    >See More</a
                  >
                </button>
              </div>
              <div class="col-12 mb-2">
                <button
                  class="enrollNow w-100 h-100 py-2 text-uppercase border-0 fw-semibold"
                >
                  <a
                    href="http://localhost/OLWS-StudentManagementSystem/assets/src/pages/onlineenrollment.php"
                    target="_blank"
                    class="text-light text-decoration-none fw-semibold"
                    >Enroll now</a
                  >
                </button>
              </div>
              <div class="col-12">
                <button
                  class="studentPortal w-100 h-100 py-2 text-uppercase border-0 fw-semibold"
                >
                  <a
                    href="http://localhost/OLWS-StudentManagementSystem/assets/src/pages/onlineenrollment.php"
                    target="_blank"
                    class="text-light text-decoration-none fw-semibold"
                    >Student Portal</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center col-sm-12 col-lg-6">
        <img
          src="public\assets\images\avatar\avatar.png"
          class="avatar d-lg-none d-sm-block"
          alt="students"
        />

        <div class="container-fluid text-end me-3 d-none d-lg-block d-sm-none">
          <div class="greetings">
            <p class="mt-5">Welcome To Our Website</p>
            <h1 class="fw-bolder">Primary School</h1>
            <h3 class="fw-semibold">St. Emilie Learning Center</h3>
            <p class="mt-4">
              At St. Emilie Learning Center, we are dedicated to nurturing the
              love of God in our students, guiding them to become responsible
              citizens. Our holistic approach to education fosters not only
              academic excellence but also character development, instilling
              values of compassion, integrity, and community service. Join us in
              shaping a brighter future where faith and education go hand in
              hand.
            </p>
          </div>
          <div class="buttons w-100">
            <div class="row">
              <div class="col-6 py-2">
                <button
                  class="seeMore w-100 h-100 py-2 text-uppercase border-0"
                >
                  <a
                    href="https://www.facebook.com/StEmilieLC"
                    target="_blank"
                    class="text-light text-decoration-none p-2 px-5 fs-6 fw-semibold"
                    >See More</a
                  >
                </button>
              </div>
              <div class="col-6 py-2">
                <button
                  class="enrollNow w-100 h-100 py-2 text-uppercase border-0 fs-6 fw-semibold"
                >
                  <a
                    href="http://localhost/OLWS-StudentManagementSystem/assets/src/pages/onlineenrollment.php"
                    target="_blank"
                    class="text-light text-decoration-none p-2 px-5 fs-6 fw-semibold"
                    >Enroll now</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
