<link rel="stylesheet" href="public\assets\css\footer.css">

<div class="container-fluid">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#home" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#aboutUs" class="nav-link px-2 text-body-secondary">About Us</a></li>
        <li class="nav-item"><a href="#staff" class="nav-link px-2 text-body-secondary">staff</a></li>
        <li class="nav-item"><a href="#contactUs" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
        <li class="nav-item"><a href="https://stemilielearningcenteramparo.blogspot.com/2009/09/who-is-st-emilie.html" target="_blank" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      </ul>
      <p class="text-center text-body-secondary">@ Copyright © 2024 St. Emilie Learning Center. All Right Reserved</p>
    </footer>
  </div>