<link rel="stylesheet" href="public\assets\css\mobilenav.css" />

<nav class="mobilenavbar navbar justify-content-around fixed-bottom">
  <a
    href="#home"
    class="nav-link rounded-circle active"
    aria-label="Home"
    title="Home"
  >
    <i class="bi bi-house fa-lg fs-3 fw-bolder"></i>
  </a>
  <a
    href="#aboutus"
    class="nav-link rounded-circle"
    aria-label="About"
    title="About"
  >
    <i class="bi bi-info-circle fa-lg fs-3 fw-bolder"></i>
  </a>
  <a
    href="#staff"
    class="nav-link rounded-circle"
    aria-label="Staff"
    title="Staff"
  >
    <i class="bi bi-person-fill fa-lg fs-3 fw-bolder"></i>
  </a>
  <a
    href="#contact"
    class="nav-link rounded-circle"
    aria-label="Contact"
    title="Contact"
  >
    <i class="bi bi-envelope-fill fa-lg fs-3 fw-bolder"></i>
  </a>
</nav>