/* SCSS HEX */
.staff {
  width: 100%;
  height: auto;
  background-color: white;
}
.staff .content {
  height: auto;
  margin-top: 80px;
}
.staff .content .scrolling-images {
  overflow-x: auto;
  white-space: nowrap;
}
.staff .content .scrolling-images img {
  height: 200px;
  margin-right: 15px;
}