$wenge: #6f605aff;
$forest-green: #008f3dff;
$celadon: #bae4ccff;

$aquamarine: #4dfed1ff;
$turquoise: #0adab5ff;
$verdigris: #08a4a7;
$aquamarine-2: #4dfed1ff;
$turquoise-2: #0bdbb6ff;
$black: #000000ff;
$ice-blue: #91ffff;
$turquoise-3: #0bdbb6ff;
$verdigris-2: #087a7c;
$azure-web: #e9ffffff;
$ice-blue-2: #91ffffff;

$white: #fff;
$text: #075557;
