$zaffre: #0c12a9ff;
$argentinian-blue: #33a7fbff;
$button: #1f6ca3;
$citrine: #d5cf37ff;
$eggshell: #ede9d6ff;
$yellow: #fffe03ff;
$oxford-blue: #001e34ff;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}